extends base1.pug

block content 
    <div class="box-1">
        <div class="row m-4">
            <div class="text-white col-sm-6 sidebar1 ">

                <h1 class="text-white mt-4">Opportunities don’t happen, you create them.</h1>

                <p class="mt-4 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus earum nam
                    necessitatibus
                    corporis mollitia.</p>
                <div class="row container">
                    <button class="btn btn-outline-warning w-25">Apply</button>
                    <button class="btn btn-outline-warning ml-4 w-25 ">Learn more...</button>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="container page2 mt-4">
        <div class="row">
            <div class="col-sm-6">

                <div class="card" style="width: 35rem; height: 22rem;border-radius: 15px;">

                    <div class="d-flex align-items-center card-header text-white"style="background-color: rgba(37, 54, 97, 1);">
                        <ion-icon name="notifications-outline" size="large" class="vector"></ion-icon>
                        <h5 class="ml-2 text-center my-auto">Notice Board</h5>
                    </div>
                    <div class="card-body recruit">
                        <p class="card-text  px-1"><a class="" href="#">tcs recruitment for software engineer</a> </p>
                        <p class="card-text  px-1"><a class="" href="#">infosys recruitment for ASP.NET</a> </p>
                        <p class="card-text  px-1"><a class="" href="#">tcs recruitment for software engineer</a> </p>
                        <p class="card-text  px-1"><a class="" href="#">tcs recruitment for software engineer</a> </p>
                        <p class="card-text  px-1"><a class="" href="#">tcs recruitment for software engineer</a> </p>

                    </div>
                    <a href="#" class="btn btn-warning btn-outline-dark border border-black display-inline">View All</a>
                </div>
            </div>
            <div class="col-sm-4">

                <div class="card" style="width: 35rem; height: 22rem; border-radius: 15px;">
                    <div class="d-flex align-items-center card-header text-white"style="background-color: rgba(37, 54, 97, 1);">
                        <ion-icon name="help-circle-outline" size="large" class="vector"></ion-icon>
                        <h5 class="ml-2 text-center my-auto">Help</h5>
                    </div>
                    <div class="card-body ">
                        <p class="card-text  px-1"><a class="" href="#">infosys recruitment for ASP.NET</a> </p>
                    </div>
                    <a href="#" class="btn btn-warning btn-outline-dark border border-black display-inline">View All</a>
                </div>

        </div>

    </div>
//- </html>