extends base2.pug

block content
    //- <center> 
    <div class="container">
      <h4 class="text-white mt-2">Applied Applicants</h4>
      <div style="width:25%;text-align:left;margin-left:0;border: 1px solid #ffc107;">
      </div>
    </div>

    <div class="container mt-5">
        <div class="card mb-3 border-black " style="min-width: 740px; max-height: 200px">
            <div class="row w-100 h-100" >
                <div class="col-md-2  h-100 ">
                    <img src="../public/images/jenil.png" alt="..." width="150px" height="199x" class="rounded">
                </div>
                <div class="col-md-8 ">
                    <div class="card-body">
                        <h5 class="card-title">Jenil Thakor</h5>
                        <span class="badge bg-blue">Front-End</span>
                        <span class="badge bg-blue">NodeJS</span>
                        <span class="badge bg-blue">PHP</span>
                        <span class="badge bg-blue">Android Studio</span>
                        <span class="badge bg-blue">SCSS</span>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in...</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="/applicantdetail" class="btn btn-warning my-2 my-sm-0 mr-2" >
                        |   View Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="card mb-3 border-black " style="min-width: 740px; max-height: 200px">
            <div class="row w-100 h-100" >
                <div class="col-md-2  h-100 ">
                    <img src="../public/images/jenil.png" alt="..." width="150px" height="199x" class="rounded">
                </div>
                <div class="col-md-8 ">
                    <div class="card-body">
                        <h5 class="card-title">Jenil Thakor</h5>
                        <span class="badge bg-blue">Front-End</span>
                        <span class="badge bg-blue">NodeJS</span>
                        <span class="badge bg-blue">PHP</span>
                        <span class="badge bg-blue">Android Studio</span>
                        <span class="badge bg-blue">SCSS</span>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in...</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="/applicantdetail" class="btn btn-warning my-2 my-sm-0 mr-2" >
                        |   View Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="card mb-3 border-black " style="min-width: 740px; max-height: 200px">
            <div class="row w-100 h-100" >
                <div class="col-md-2  h-100 ">
                    <img src="../public/images/jenil.png" alt="..." width="150px" height="199x" class="rounded">
                </div>
                <div class="col-md-8 ">
                    <div class="card-body">
                        <h5 class="card-title">Jenil Thakor</h5>
                        <span class="badge bg-blue">Front-End</span>
                        <span class="badge bg-blue">NodeJS</span>
                        <span class="badge bg-blue">PHP</span>
                        <span class="badge bg-blue">Android Studio</span>
                        <span class="badge bg-blue">SCSS</span>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in...</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="/applicantdetail" class="btn btn-warning my-2 my-sm-0 mr-2" >
                        |   View Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="card mb-3 border-black " style="min-width: 740px; max-height: 200px">
            <div class="row w-100 h-100" >
                <div class="col-md-2  h-100 ">
                    <img src="../public/images/jenil.png" alt="..." width="150px" height="199x" class="rounded">
                </div>
                <div class="col-md-8 ">
                    <div class="card-body">
                        <h5 class="card-title">Jenil Thakor</h5>
                        <span class="badge bg-blue">Front-End</span>
                        <span class="badge bg-blue">NodeJS</span>
                        <span class="badge bg-blue">PHP</span>
                        <span class="badge bg-blue">Android Studio</span>
                        <span class="badge bg-blue">SCSS</span>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in...</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="/applicantdetail" class="btn btn-warning my-2 my-sm-0 mr-2" >
                        |   View Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="card mb-3 border-black " style="min-width: 740px; max-height: 200px">
            <div class="row w-100 h-100" >
                <div class="col-md-2  h-100 ">
                    <img src="../public/images/jenil.png" alt="..." width="150px" height="199x" class="rounded">
                </div>
                <div class="col-md-8 ">
                    <div class="card-body">
                        <h5 class="card-title">Jenil Thakor</h5>
                        <span class="badge bg-blue">Front-End</span>
                        <span class="badge bg-blue">NodeJS</span>
                        <span class="badge bg-blue">PHP</span>
                        <span class="badge bg-blue">Android Studio</span>
                        <span class="badge bg-blue">SCSS</span>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in...</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="/applicantdetail" class="btn btn-warning my-2 my-sm-0 mr-2" >
                        |   View Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    </div>
    </div>