extends base2.pug

block content 

    <div class="box-1">
        <div class="row m-4">
            <div class="text-white col-sm-6 sidebar1 ">
                <h1 class="text-white mt-4">A Successful business requires one simple thing: <span class="badge bg-common2 text-dark">PASSION</span></h1>
                <p class="mt-4 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus earum nam
                    necessitatibus
                    corporis mollitia.</p>
                <div class="row container">
                    <button class="btn bg-outline-common2 w-25">See your forms</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="container page2 my-4">
        <div class="row">
            <div class="col-sm-6">

                <div class="card" style="width: 35rem; height: 18rem;border-radius: 15px;">
                    <div class="d-flex align-items-center card-header text-white bg-common">
                        <ion-icon name="reader-outline"></ion-icon>
                        <h5 class="ml-2 text-center my-auto">Rules for Companies</h5>
                    </div>
                    <ul class="list-group list-group-flush px-2">
                        <li class="list-group-item mt-1 bg-outline-common">Create your account first</li>
                        <li class="list-group-item mt-1 bg-outline-common">Create a form for recruitment</li>
                        <li class="list-group-item mt-1 bg-outline-common">Select and hire applicants</li>
                    </ul>
                    <a href="#" class="btn w-50 m-auto btn-common  display-inline mb-2">Select Applicants</a>
                </div>
            </div>
            <div class="col-sm-4">

                <div class="card" style="width: 35rem; height: 18rem; border-radius: 15px;">
                    <div class="d-flex align-items-center card-header text-white bg-common">
                        <ion-icon name="help-circle-outline" size="large" class="vector"></ion-icon>
                        <h5 class="ml-2 text-center my-auto">Help</h5>
                    </div>
                    <div class="card-body ">
                        <p class="card-text bg-outline-common rounded p-2"><a class="text-common text-decoration-none" href="/companyform">To fill new recruitment form click here</a> </p>
                        <p class="card-text  bg-outline-common rounded p-2"><a class="text-common text-decoration-none" href="/companyedit">To edit recruitment form click here</a> </p>
                        <p class="card-text  bg-outline-common rounded p-2"><a class="text-common text-decoration-none" href="/applicantsdashboard">To select applicants click here</a> </p>
                    </div>
                    //- <a href="#" class="btn w-50 m-auto bg-common border border-black display-inline mb-2">View All</a>

                </div>

        </div>

    </div>


//- </body>
//-     script 
//-         include ../public/jquery.js
//-     script 
//-         include ../public/index.js
//-     script 
//-         include ../public/bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js
//-     script 
//-         include ../public/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js
//-     script 
//-         include ../public/bootstrap-4.6.2-dist/js/bootstrap.bundle.js
//-     script 
//-         include ../public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js

//- </html>