<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    style 
        include ../public/bootstrap-4.6.2-dist/css/bootstrap.css
    style 
        include ../public/bootstrap-5.2.2-dist/css/bootstrap.css
    style 
        include ../public/style.css

    //- script(src = "https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
    script(src = "https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")
    
    <title>Document</title>
</head>

<body>
    <div class="page1 p-1">

        <nav class="navbar navbar-expand-lg  bg-transperent px-2">
            <a class="navbar-brand" href="/">
                <h4 class="text-white"><span class="text-common2">i</span> - Job</h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-common2 p-2 " href="/">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-common2" href="/demo">Demo</a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="d-flex align-items-center">
                        <ion-icon name="help-circle-outline" size="large" class="text-white"></ion-icon>
                        <a class="nav-link text-white ml-2 mr-4" href="#">Help Center</a>
                    </div>
                    <h4 class="mr-4 text-white">|</h4>
                    <button type="button" class="btn bg-outline-common2 my-2 mr-4 my-sm-0" data-toggle="modal" data-target="#signUpModal">
                    |    Sign Up
                    </button>
                    <h4 class="mr-4 text-white">|</h4>
                    <button type="button" class="btn bg-outline-common2 my-2 my-sm-0 mr-2" data-toggle="modal" data-target="#logInModal">
                    |    Log In
                    </button>
                    //- <h4 class="mr-4 text-white">|</h4>
                    //- <a href="/logout" class="btn btn-outline-warning my-2 my-sm-0 mr-2">
                    //- |    Logout
                    //- </a>
                </form>
            </div>

        </nav>

        <div class="row m-4">

            <div class="text-white col-sm-4 sidebar1 ">

                <h1 class="text-white mt-4">Find best job for your</h1>
                <h2><span class="badge bg-common2 text-dark">Future</span></h2>
                <p class="mt-4 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus earum nam
                    necessitatibus
                    corporis mollitia.</p>
                <div class="row">
                    //- <form class="form-inline my-2 my-lg-0">
                    //-     <button class="btn bg-outline-common2 my-2 my-sm-2" type="submit">Apply</button>
                    //-     <button class="btn bg-outline-common2 my-2 my-sm-0 ml-4" type="submit">Learn More...</button>
                    //- </form>
                </div>
                <br>
                <br>
                <br>
                <div class="row d-flex container">
                    <div class="img col-sm-3">
                        <h3>Microsoft</h3>
                    </div>
                    <div class="img col-sm-4 d-flex align-items-center justify-content-center">
                        <h3>LinkedIn</h3>
                        <img src="./images/Path 2520.svg" class="ml-1" width="35px" alt="">
                    </div>
                    <div class="img col-sm-4">
                        <h3>Google</h3>
                    </div>
                </div>
            </div>
            <div class="imgcontainer">

                <div class="img1">
                    <img src="../public/images/bg3.png" alt="" width="180px">
                </div>
                <div class="img2">
                    <img src="../public/images/bg2.png" alt="" width="200px">
                </div>
                <div class="img3">
                    <img src="../public/images/bg1.png" alt="" width="200px">
                </div>
            </div>
        </div>

    </div>
    </div>

    <br>
    <br>

    <div class="container page2 mt-4">
        <div class="row">
            <div class="col-sm-4">

                <div class="card" style="width: 25rem;">
                    <div class="d-flex align-items-center card-header text-white bg-common" >
                        <ion-icon name="notifications-outline" size="large" class="vector"></ion-icon>
                        <h5 class="ml-2 text-center my-auto">
                            Notice Board
                        </h5>
                    </div>
                    <div class="card-body recruit">
                        each value in recordComp 
                            <p class="card-text px-1"><a class ="" href = "/companyshow/#{value._id}">#{value.companyname} recruitment for #{value.post} </a></p>

                    </div>
                    <a href="#" class="btn w-50 mx-auto mb-2 btn-warning">View All</a>
                </div>
            </div>
            <div class="col-sm-4">

                <div class="card " style="width: 25rem;">
                    <div class="d-flex align-items-center card-header text-white bg-common" >
                        <ion-icon name="people-circle-outline" size="large" class="vector"></ion-icon>
                        <h5 class="ml-2 text-center my-auto">
                            For Applicants
                        </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mt-1 bg-outline-common">Create your account first</li>
                        <li class="list-group-item mt-1 bg-outline-common">Create your application form</li>
                        <li class="list-group-item mt-1 bg-outline-common">Apply in company using Application Id</li>
                        <li class="list-group-item mt-1 bg-outline-common">Get hired</li>
                    </ul>
                    <div class="card-body ">
                        <a href="#" class="btn mr-2 btn-warning">Sign Up</a>
                        <a href="#" class="btn btn-warning">Log In</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">

                <div class="card" style="width: 25rem;">
                    <div class="d-flex align-items-center card-header text-white bg-common">
                        <ion-icon name="briefcase-outline" size="large" class="vector"></ion-icon>
                        <h5 class="ml-2 text-center my-auto">
                        |   Rules For Companies
                        </h5>
                    </div>
                    <ul class="list-group list-group-flush px-2">
                        <li class="list-group-item mt-1 bg-outline-common">Create your account first</li>
                        <li class="list-group-item mt-1 bg-outline-common">Create a form for recruitment</li>
                        <li class="list-group-item mt-1 bg-outline-common">Select and hire applicants</li>
                        <li class="list-group-item mt-1 bg-outline-common">Select and hire applicants</li>
                    </ul>
                    <div class="card-body ">
                        <a href="#" class="btn mr-2 btn-warning" >Sign Up</a>
                        <a href="#" class="btn btn-warning" >Log In</a>
                    </div>


                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <div class="container page3 mt-4 bg-muted border p-4">
        <div>
            <h1>Save time and effort in finding</h1>
            <h2>your job</h2>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor fugit corporis temporibus qui officiis
                <br> blanditiis laborum minus voluptates labore libero nostrum ut
            </p>

            <div class="row ">
                <div class="col border m-2">
                    <div class="row p-4">
                        <div class="imgFind col-sm-2 w-25 m-auto">

                            <ion-icon name="expand-outline" class="vector" size="large"></ion-icon>
                        </div>
                        <div class="contentFind col-sm-4 w-75 m-auto">
                            <h3>Get more visibility in finding job</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, enim.</p>
                        </div>
                    </div>
                </div>
                <div class="col border m-2">
                    <div class="row p-4">
                        <div class="imgFind col-sm-2 w-25 m-auto">
                            //- <!-- <img src="" alt=""> -->
                            <ion-icon name="medal-outline" class="vector" size="large"></ion-icon>
                        </div>
                        <div class="contentFind col-sm-4 w-75 m-auto">
                            <h3>Finding quality applicant's</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, enim.</p>
                        </div>
                    </div>
                </div>

                <div class="w-100"></div>
                <div class="col border m-2">
                    <div class="row p-4">
                        <div class="imgFind col-sm-2 w-25 m-auto">
                            <ion-icon name="search-circle-outline" class="vector" size="large"></ion-icon>
                        </div>
                        <div class="contentFind col-sm-4 w-75 m-auto">
                            <h3>Verify applicant's ability</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, enim.</p>
                        </div>
                    </div>
                </div>
                <div class="col border m-2">
                    <div class="row p-4">
                        <div class="imgFind col-sm-2 w-25 m-auto">
                            //- <!-- <img src="" alt=""> -->
                            <ion-icon name="medal-outline" class="vector" size="large"></ion-icon>
                        </div>
                        <div class="contentFind col-sm-4 w-75 m-auto">
                            <h3>Finding quality applicant's</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, enim.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="page4  mt-4 bg-common">

    <footer class="page-footer font-small  bg-common pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-4 mt-md-0 mt-3">
                    <h5 class="text-uppercase text-warning">Footer Content</h5>
                    <p>Here you can use rows and columns to organize your footer content.</p>
                </div>

                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-sm-2 mb-md-0 mb-3">
                    <h5 class="text-uppercase text-warning">Section1</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white mt-1" >About Us</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white mt-1">Help</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white mt-1">Terms and Conditions</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white mt-1">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-2 mb-md-0 mb-3">
                    <h5 class="text-uppercase text-warning">Section2</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white mt-1" >Apply</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white mt-1">Edit Application</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white mt-1">Find Application</a>
                        </li>

                    </ul>
                </div>
                <div class="col-sm-2 mb-md-0 mb-3">
                    <h5 class="text-uppercase text-warning">Section3</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-white mt-1" >Job Recruitment Form</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white mt-1">Hire Applicants</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white mt-1">Edit Recruitment Form</a>
                        </li>
                    </ul>
                </div>

                
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="/">OnlineJobApplication.com</a>
        </div>

    </footer>
</div>

//- <!-- Modal of signup -->
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signUpModalLabel">Sign Up Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/signup" method="post">
                <div class="form-group">
                  <label for="exampleInputEmail1">Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" name="name">
                </div>


                <div class="form-group">
                  <label for="exampleInputEmail3">Email <span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="uemail">
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">Password <span class="text-danger">*</span></label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Confirm Password <span class="text-danger">*</span></label>
                  <input type="password" class="form-control" id="exampleInputCPassword1" name="cpassword">
                </div>

                <div class="form-group">
                    <label>Role <span class="text-danger">*</span></label>
                    <select class="form-control" name="role">
                        <option value="0" selected>Applicant</option>
                        <option value="1">Company</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
        </div>
    </div>
    </div>
</div>

//-   <!-- Modal of login -->
<div class="modal fade" id="logInModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Log In Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/login" method="post">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="uemail" class="form-control" id="exampleInputLoginEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" name="password" id="exampleInputLoginPassword1">
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <select class="form-control" name="role" >
                        <option value="0">Applicant</option>
                        <option value="1">Company</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
        </div>

    </div>
    </div>
</div>

    script 
        include ../public/jquery.js
    script 
        include ../public/bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js
    script 
        include ../public/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js
    script 
        include ../public/bootstrap-4.6.2-dist/js/bootstrap.bundle.js
    script 
        include ../public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js

</body>

</html>